<mat-toolbar class="nav-panel">
  <span class="nav-section">
    <button mat-button class="nav-button" routerLink="/">Play</button>
    <button  *ngIf="auth.isAuthenticated"  mat-button class="nav-button" routerLink="/quizzes">My Quizes</button>
  </span>
  <span *ngIf="auth.isAuthenticated">
    You are login in as {{auth.username}}!
  </span>
  <span class="login-section">
    <button *ngIf="!auth.isAuthenticated"  mat-button class="nav-button" routerLink="/register">Register</button>
    <button *ngIf="!auth.isAuthenticated" mat-button class="nav-button" routerLink="/login">Login</button>
    <button *ngIf="auth.isAuthenticated"  mat-button class="nav-button" (click)="auth.logout()">Logout</button>
  </span>
</mat-toolbar>
